In [1]:
#Q1: Sort the list of tuples using a lambda function

# Input list of tuples
players = [
    ('Sachin Tendulkar', 34357),
    ('Ricky Ponting', 27483),
    ('Jack Kallis', 25534),
    ('Virat Kohli', 24936)
]

# Sort the list based on the integer value in the tuple
sorted_players = sorted(players, key=lambda x: x[1], reverse=True)
print("Sorted Players:", sorted_players)

Sorted Players: [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [2]:
#Q2: Find squares of all numbers using map and a lambda function

# Input list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Using map and lambda to calculate squares
squares = list(map(lambda x: x**2, numbers))
print("Squares of numbers:", squares)

Squares of numbers: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
#Q3: Convert list of integers into a tuple of strings

# Input list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Using map and lambda to convert to tuple of strings
string_tuple = tuple(map(lambda x: str(x), numbers))
print("Tuple of strings:", string_tuple)

Tuple of strings: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [4]:
#Q4: Compute the product of numbers from 1 to 25 using reduce

from functools import reduce

# List from 1 to 25
numbers = list(range(1, 26))

# Using reduce to compute the product
product = reduce(lambda x, y: x * y, numbers)
print("Product of numbers from 1 to 25:", product)

Product of numbers from 1 to 25: 15511210043330985984000000

In [5]:
#Q5: Filter numbers divisible by 2 and 3 using filter

# Input list
numbers = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

# Using filter and lambda to find numbers divisible by 2 and 3
filtered_numbers = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, numbers))
print("Numbers divisible by 2 and 3:", filtered_numbers)

Numbers divisible by 2 and 3: [6, 60, 90, 120]

In [6]:
#Q6: Find palindromes in a list of strings using filter and a lambda function

# Input list of strings
strings = ['python', 'php', 'aba', 'radar', 'level']

# Using filter and lambda to find palindromes
palindromes = list(filter(lambda x: x == x[::-1], strings))
print("Palindromes:", palindromes)

Palindromes: ['php', 'aba', 'radar', 'level']